.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrar verticalmente */
  width: 100%;
  background-color: rgb(69, 68, 68);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  
}
.navbar-left h3 a {
  text-decoration: none !important;
  color: rgb(255, 252, 252);
}
.unidades li a {
  text-decoration: none !important; 
  color: rgb(255, 255, 255);
}

.navbar-center {
  flex: 1;
  text-align: center;
  text-decoration: none; 
}

.unidades {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  
}

.unidades li {
  margin-right: 2rem;
}

.unidades li:last-child {
  margin-right: 0; /* Eliminar el margen derecho del último elemento */
}

.navbar-right {
  display: flex;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}

@media (min-width: 320px) and (max-width: 554px) {
  .navbar {
    background-color:rgb(69, 68, 68) ;
    height: 60vh;
    width: auto;
  }
  .unidades li a {
    text-decoration: none !important; 
    color: rgb(255, 255, 255);
  }
  .unidades  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
  }
  .navbar-right {
    width: 5rem;
    height: 5rem;
  }

  
}
@media (min-width: 375px) and (max-width: 554px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar-center {
    display: flex;
    flex-direction: column;
  }
  .unidades {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .navbar-left {
    margin-right: 1rem;
}
  .navbar-right {
    display: none;
  }

}
@media (min-width: 554px) and (max-width: 768px) {
  .navbar {
    width: auto;
  }
}





