.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 75vw;
   height: 30vh;
   margin-left: 5rem;
  }
.centro {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(69, 68, 68);
  color: #fff;
}
.redes {
  width: 2rem;
  height: 2ren;
}

@media (min-width: 320px) and (max-width: 554px){
  .centro  {
    height: 100vh;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    gap: 2rem;
  }
  iframe {
    width: 10rem;
  }

}
@media (min-width: 554px) and (max-width: 768px) {
  .footer {
    height: 40vh;
  }
  iframe {
    width: 10rem;
  }
}