.unidadDos {
    height: 330vh;
    width: 50vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    
}
.imagenFondo {
    background-image: url("https://i.ibb.co/vVsPwKC/image-1.png");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    height: 340vh;

}
.parrafoDos {
    font-size: 20px;
    display: flex;
    width: 60vh;
    margin-top: 2rem;
}
.achicar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 2rem;
}
.mover {
    margin-top: 2rem;
    width: 38rem;
    height: 21rem;
}
.iconos {
    width: 20rem;
    height: 28rem;
}

.segundoTitulo {
    font-size: 24px;
    margin-top: 5rem;
    font-weight: bold;
}
.moverAbajo {
    margin-top: 1rem;
}
.moverCostado {
    display: flex;
    justify-content: center;
}

.mail a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.recordatorios {
    margin-top: 2rem;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.vistoVerde {
    width: 3rem;
    margin: 2rem;
}
.tituloRecordar {
    margin-top: 7rem;
}
ul {
    list-style-type: none; /* Elimina el estilo de viñeta */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
  }
  @media (min-width: 320px) and (max-width: 554px) {
    .imagenFondo {
        height: 700vh;
    }
    .unidadDos {
        height: 650vh;
    }
    .mover {
        width: 12rem;
        height: 10rem;
    }
  }
  @media (min-width: 554px) and (max-width: 768px) {
    .imagenFondo {
        height: 500vh;
    }
    .unidadDos {
        height: 420vh;
    }
  }