.tituloPrincipal {
  color: rgb(25, 24, 24);
  font-weight: bold;
}
.pagina {
  height: 480vh;
  background-color: #fff;
  width: 70vw;
  margin: 2rem;
}
.imagenFondoB {
  background-image: url("https://i.ibb.co/vVsPwKC/image-1.png");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}

.carousel-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 65vh; /* Ajusta la altura según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente */
}
.d-block {
  width: 80vw;
}

.tabla-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla td,
.tabla th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ddd;
}
.segundoTitulo {
  font-size: 24px;
  display: flex;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.image-container {
  width: 40%;
  transition: transform 0.3s ease-in-out;
  
}
.image-container:hover img {
  transform: scale(1.1);
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text-container {
  width: 50%;
}
.text-containerA {
  width: 38%;
}

.text-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.text-containerA h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 16px;
  font-weight: bold;
}
.text-containerA p {
  font-size: 16px;
  font-weight: bold;
}

.containerDos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.campusA {
  width: 45rem;
  height: 23rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (min-width: 320px) and (max-width: 554px) {
  .imagenFondoB{
    height: 400vh;
    width: auto;
  }
  .pagina {
    height: 700vw;
  }
  .tituloPrincipal {
    font-size: 20px;
    margin: 2rem;

  }
  .Carousel.Item {
    width: auto;
    height: auto;
  }
  .carousel-container {
    width: auto;
    height: auto;
  }
  .image-container {
    width: 12rem;
    height: 4rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100vh;
  }
  .containerDos {
    display: flex;
    flex-direction: column;
    margin-top: 55rem;
  }
  .text-container {
    font-size: 6px;
    height: 20vh;
    margin-bottom: 42vh;
    margin-right: 2rem;
  }
  .text-containerDos {
    font-size: 6px;
    height: 20vh;
    margin-right: 2rem;
  }
  .text-containerA {
    font-size: 6px;
    margin-right: 3rem;
  }
  .tabla-container {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
  }
  .tabla {
    display: none;
  }
  .campusA {
    width: 12rem;
    height: 8rem;
  }
}
@media (min-width: 375px) and (max-width: 554px) {
  .imagenFondoB{
    height: 600vh;
    width: auto;
  }
  .pagina {
    height: 850vw;
  }
  .tituloPrincipal {
    font-size: 20px;
    margin: 2rem;

  }
  .Carousel.Item {
    width: auto;
    height: auto;
  }
  .carousel-container {
    width: auto;
    height: auto;
  }
  .image-container {
    width: 12rem;
    height: 4rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100vh;
  }
  .containerDos {
    display: flex;
    flex-direction: column;
    margin-top: 55rem;
  }
  .text-container {
    font-size: 6px;
    height: 20vh;
    margin-bottom: 42vh;
    margin-right: 2rem;
  }
  .text-containerDos {
    font-size: 6px;
    height: 20vh;
    margin-right: 2rem;
  }
  .text-containerA {
    font-size: 6px;
    margin-right: 3rem;
  }
  .tabla-container {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
  }
  .tabla {
    display: none;
  }
  .campusA {
    width: 12rem;
    height: 8rem;
  }
}
@media (min-width: 554px) and (max-width: 768px) {
  .campusA {
    width: 18rem;
    height: 12rem;
  }
  .tituloPrincipal {
    margin: 2rem;
  }
  .imagenFondoB{
    height: 550vh;
    width: auto;
  }
  .pagina {
    height: 500vh;
  }

}
@media (min-width: 425px) and (max-width: 554px) {
  .pagina { 
    height: 580vh;

  }
  .tabla {
    display: none;
  }
}







  
  